DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=

CLOUDINARY_URL=

JWT_DURATION=
VERIFICATION_CODE_LENGTH=
JWT_SIGNING_KEY=

REDIS_PORT=
REDIS_HOST=
TIME_TO_LIVE_IN_HOURS=

SERVER_PORT=

RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_UI_PORT=

RABBITMQ_EXCHANGE_NAME=
RABBITMQ_ROUTING_KEY=
RABBITMQ_QUEUE_NAME=